[extract]
selectVariables=salt
selectVariables=temp
selectVariables=zeta
selectVariables=ubar
selectVariables=vbar
selectVariables=w
selectVariables=AKs
selectVariables=u
selectVariables=v
#selectVariables=u_eastward
#selectVariables=v_northward
selectVariables=Uwind
selectVariables=Vwind
selectVariables=angle
#selectVariables=forecast_reference_time
selectVariables=mask_rho

[interpolate]
method = linear
projString = +proj=stere +ellps=WGS84 +lat_0=90.0 +lat_ts=60.0 +x_0=3080640 +y_0=1485120 +lon_0=70
xAxisValues = 0, 160,...,185600
yAxisValues = 0, 160,...,128000
xAxisUnit = m
yAxisUnit = m


